---
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog');
---

<ul>
  {blogEntries.map(entry => (
    <li>
      <a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
      <img src={entry.data.thumbnail} alt={entry.data.title} />
      <time>{entry.data.date.toISOString().split('T')[0]}</time>
    </li>
  ))}
</ul>