<table cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #333333; border-collapse: collapse;">
  <tr>
    <td style="padding: 0 20px 0 0; vertical-align: middle;">
      <img src="https://drive.google.com/uc?export=view&id=1K4Vi9J6o_4u5d3wsVgm_xfn27psohJH6" alt="Logo Christine Rizzo" width="300" height="auto" style="display: block; border: 0;" />
    </td>
    <td style="padding: 0; vertical-align: top; border-left: 1px solid #dddddd; padding-left: 20px;">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="padding: 0 0 5px 0;">
            <span style="font-size: 18px; font-weight: bold; color: #068D9D;">Christine Rizzo</span>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 0 10px 0;">
            <span style="color: #666666; font-size: 14px;">Avocate spécialisée en droit du travail</span>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0; border-top: 1px solid #eeeeee;">
            <span style="color: #333333; font-weight: bold;">Courriel:&nbsp;&nbsp;</span>
            <a href="mailto:c.rizzo@avocat.be" style="color: #333333; text-decoration: none;">c.rizzo@avocat.be</a>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 0 5px 0; border-top: 1px solid #eeeeee;">
            <span style="color: #333333; font-weight: bold;">Téléphone:&nbsp;&nbsp;</span>
            <a href="tel:+32488404549" style="color: #333333; text-decoration: none;">0488.40.45.49</a>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 0 0 0; border-top: 1px solid #eeeeee;">
            <a href="https://www.linkedin.com/in/chrizzo11/" style="text-decoration: none; margin-right: 10px;">
              <img src="https://drive.google.com/uc?export=view&id=1Xp5_GuYhs28kZ3qOQ5lUS_2dbG6ZQXe0" alt="LinkedIn" width="20" height="20" style="vertical-align: middle; border: 0;">
            </a>
            <a href="https://wa.me/message/UEV6RLN56C7MI1" style="text-decoration: none;">
              <img src="https://drive.google.com/uc?export=view&id=1DAFsQMcBxtxbiOrzDf8XStRMp1Ku02G5" alt="WhatsApp Business" width="20" height="20" style="vertical-align: middle; border: 0;">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>