<section id="contact" class="bg-white border border-black text-black py-16 px-8 my-16 text-center">
  <h2 class="text-3xl mb-4 font-light">Vous avez une question en droit du travail?</h2>
  <p class="mb-8 text-xl font-light">Contactez-moi. Je suis à votre écoute.</p>
  <div class="flex flex-wrap justify-center gap-4">
    <button onclick="Calendly.initPopupWidget({url: 'https://calendly.com/decarbonaction/meeting'})" class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <i data-feather="calendar" class="mr-2"></i> Prendre RDV
    </button>
    <button class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <i data-feather="phone" class="mr-2"></i> Appeler
    </button>
    <button class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <i data-feather="message-circle" class="mr-2"></i> WhatsApp
    </button>
    <button class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <i data-feather="mail" class="mr-2"></i> Email
    </button>
  </div>
</section>