---
// src/components/CTA.astro
import { Image } from 'astro:assets';
import { Calendar, Phone, MessageCircle, Mail } from 'astro-feather-icons';
import ctaIllustration from '../assets/images/illustration_cta_2.svg';

const { pathname } = Astro.url;
const lang = pathname.split('/')[1] || 'fr'; // Par défaut à 'fr' si aucune langue n'est trouvée

const translations = {
  fr: {
    takeAppointment: "Prendre rendez-vous",
    call: "Appeler",
    whatsapp: "WhatsApp",
    email: "Email",
    ctaTitle: "Contactez-moi",
    ctaSubtitle: "Je suis disponible pour discuter de vos besoins."
  },
  en: {
    takeAppointment: "Take Appointment",
    call: "Call",
    whatsapp: "WhatsApp",
    email: "Email",
    ctaTitle: "Contact Me",
    ctaSubtitle: "I am available to discuss your needs."
  },
  it: {
    takeAppointment: "Prendi appuntamento",
    call: "Chiamare",
    whatsapp: "WhatsApp",
    email: "Email",
    ctaTitle: "Contattami",
    ctaSubtitle: "Sono disponibile per discutere delle tue esigenze."
  }
};

const t = translations[lang as keyof typeof translations] || translations.fr;

const buttons = [
  { icon: Calendar, text: t.takeAppointment, attr: 'data-calendly' },
  { icon: Phone, text: t.call },
  { icon: MessageCircle, text: t.whatsapp },
  { icon: Mail, text: t.email },
];
---

<div class="full-bleed bg-employeur">
  <section id="contact" class="py-16 px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="md:w-1/2 text-center md:text-left">
          <h2 class="text-3xl md:text-4xl mb-4 font-light text-white">{t.ctaTitle}</h2>
          <p class="mb-8 text-lg md:text-xl font-light text-white">{t.ctaSubtitle}</p>
          <div class="grid grid-cols-2 gap-4 max-w-xl mx-auto md:mx-0">
            {buttons.map(({ icon: Icon, text, attr }) => (
              <button
                class="bg-transparent text-white border border-white px-3 py-2 md:px-4 md:py-3 rounded-sm hover:bg-travailleur  hover:text-white transition duration-300 uppercase text-xs md:text-sm font-light flex items-center justify-center group"
                {...attr && { [attr]: true }}
              >
                <Icon class="w-6 h-6 mr-2 text-white group-hover:text-white transition-colors duration-300" /> {text}
              </button>
            ))}
          </div>
        </div>
        <div class="md:w-2/5 md:mb-0">
          <Image
            src={ctaIllustration}
            alt="illustration cta"
            class="w-full h-auto max-w-sm mx-auto"
            width={400}
            height={160}
            loading="lazy"
            format="avif"
          />
        </div>
      </div>
    </div>
  </section>
</div>