---
import { Image } from 'astro:assets';
import { Calendar, Phone, MessageCircle, Mail } from 'astro-feather-icons';
import ctaIllustration from '../assets/images/illustration-cta.svg';

interface Props {
  lang: 'fr' | 'en' | 'it';
}

const { lang = 'fr' } = Astro.props;

const translations = {
  fr: {
    title: "Une question en droit du travail?",
    subtitle: "Contactez-moi. Je suis à votre écoute.",
    takeAppointment: "Prendre RDV",
    call: "Appeler",
    whatsapp: "WhatsApp",
    email: "Email",
  },
  en: {
    title: "Do you have a question about labor law?",
    subtitle: "Contact me. I'm here to listen.",
    takeAppointment: "Schedule Appointment",
    call: "Call",
    whatsapp: "WhatsApp",
    email: "Email",
  },
  it: {
    title: "Hai una domanda sul diritto del lavoro?",
    subtitle: "Contattami. Sono qui per ascoltarti.",
    takeAppointment: "Prendere Appuntamento",
    call: "Chiamare",
    whatsapp: "WhatsApp",
    email: "Email",
  }
};

const t = translations[lang];

const buttons = [
  { icon: Calendar, text: t.takeAppointment, attr: 'data-calendly' },
  { icon: Phone, text: t.call },
  { icon: MessageCircle, text: t.whatsapp },
  { icon: Mail, text: t.email },
];
---

<div class="full-bleed bg-beige">
  <section id="contact" class="py-16 px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row items-center justify-between">
        
        <div class="md:w-1/2 text-center md:text-left">
          <h2 class="text-3xl md:text-4xl mb-4 font-light">{t.title}</h2>
          <p class="mb-8 text-lg md:text-xl font-light">{t.subtitle}</p>
          <div class="grid grid-cols-2 gap-4 max-w-xl mx-auto md:mx-0">
            {buttons.map(({ icon: Icon, text, attr }) => (
              <button
                class="bg-transparent text-black border border-black px-3 py-2 md:px-4 md:py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-xs md:text-sm font-light flex items-center justify-center"
                {...attr && { [attr]: true }}
              >
                <Icon class="w-4 h-4 mr-2" /> {text}
              </button>
            ))}
          </div>
        </div>
        <div class="md:w-2/5 md:mb-0">
          <Image
            src={ctaIllustration}
            alt="illustration cta"
            class="w-full h-auto max-w-sm mx-auto"
            width={400}
            height={160}
            loading="lazy"
            format="avif"
          />
        </div>
      </div>
    </div>
  </section>
</div>