<footer class="bg-beige text-dark-gray py-8">
  <div class="container mx-auto text-center">
    <div class="flex flex-col items-center">
      <p class="text-sm mb-4 text-dark-gray">&copy; 2023 Christine Rizzo. Tous droits réservés.</p>
      <div class="logo text-center mb-4">
        <img src="/logo_crizzo_wbg.svg" alt="Christine Rizzo Logo" class="h-48 w-auto">
      </div>
      <nav class="flex justify-center space-x-6 mb-4">
        <a href="#expertise" class="text-black hover:underline transition duration-300">Expertise</a>
        <a href="#profil" class="text-black hover:underline transition duration-300">Profil</a>
        <a href="#honoraires" class="text-black hover:underline transition duration-300">Honoraires</a>
        <a href="#articles" class="text-black hover:underline transition duration-300">Articles</a>
        <a href="#contact" class="text-black hover:underline transition duration-300">Contact</a>
      </nav>
      <nav class="flex justify-center space-x-6">
        <a href="#" class="text-dark-gray hover:underline transition duration-300">Mentions légales</a>
        <a href="#" class="text-dark-gray hover:underline transition duration-300">Politique de confidentialité</a>
        <a href="#" class="text-dark-gray hover:underline transition duration-300">Design by Pwablo</a>
        <a href="#" class="text-dark-gray hover:underline transition duration-300">Eco-conception</a>
      </nav>
    </div>
  </div>
</footer>