<footer class="bg-light-gray text-dark-gray py-8">
  <div class="container mx-auto px-4 text-center">
    <div class="flex flex-col items-center">
      <p class="text-sm mb-4 text-dark-gray">&copy; 2023 Christine Rizzo. Tous droits réservés.</p>
      <div class="logo text-center mb-6">
        <img src="/logo_crizzo_wbg.svg" alt="Christine Rizzo Logo" class="h-24 md:h-48 w-auto">
      </div>
      <nav class="flex flex-wrap justify-center mb-6">
        <a href="#expertise" class="text-black hover:underline transition duration-300 px-3 py-2">Expertise</a>
        <a href="#profil" class="text-black hover:underline transition duration-300 px-3 py-2">Profil</a>
        <a href="#honoraires" class="text-black hover:underline transition duration-300 px-3 py-2">Honoraires</a>
        <a href="#articles" class="text-black hover:underline transition duration-300 px-3 py-2">Articles</a>
        <a href="#contact" class="text-black hover:underline transition duration-300 px-3 py-2">Contact</a>
      </nav>
      <nav class="flex flex-wrap justify-center">
        <a href="#" class="text-dark-gray hover:underline transition duration-300 px-3 py-2">Mentions légales</a>
        <a href="#" class="text-dark-gray hover:underline transition duration-300 px-3 py-2">Politique de confidentialité</a>
        <a href="#" class="text-dark-gray hover:underline transition duration-300 px-3 py-2">Design by Pwablo</a>
        <a href="#" class="text-dark-gray hover:underline transition duration-300 px-3 py-2">Eco-conception</a>
      </nav>
    </div>
  </div>
</footer>