---
const navLinks = [
  { href: "#expertise", label: "EXPERTISE" },
  { href: "#profil", label: "PROFIL" },
  { href: "#actualites", label: "ACTUALITÉS" },
];
---
<header class="bg-beige">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <nav class="flex space-x-8">
      {navLinks.map(link => (
        <a href={link.href} class="text-black uppercase text-base font-light hover:underline">{link.label}</a>
      ))}
    </nav>
    <div class="logo text-center">
      <a href="/">
        <img src="/logo_crizzo_wbg.svg" alt="Christine Rizzo Logo" class="h-48 w-auto">
      </a>
    </div>
    <div class="flex items-center space-x-8">
      <a href="#honoraires" class="text-black uppercase text-base font-light hover:underline">HONORAIRES</a>
      <a href="#contact" class="bg-transparent text-black border border-black px-4 py-2 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-base font-light">ME CONTACTER</a>
      <select class="text-black text-base font-light bg-transparent border border-black rounded-full px-2 py-2 uppercase">
        <option value="fr">FR</option>
        <option value="en">EN</option>
        <option value="it">IT</option>
      </select>
    </div>
  </div>
</header>