---
// src/layouts/BaseLayout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const supportedLanguages = ['fr', 'en', 'it'] as const;
type SupportedLanguage = typeof supportedLanguages[number];

const { lang } = Astro.params;
const currentLang: SupportedLanguage = (typeof lang === 'string' && supportedLanguages.includes(lang as SupportedLanguage)) ? lang as SupportedLanguage : 'fr';
---

<!DOCTYPE html>
<html lang={currentLang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christine Rizzo - Avocate spécialisée en droit du travail</title>
    <link rel="preload" href="/fonts/Synonym-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Synonym-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/global.css">
    <script src="https://unpkg.com/feather-icons" defer></script>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
</head>
<body class="bg-beige">
    <div class="container mx-auto px-4">
        <!-- En-tête -->
        <Header currentLang={currentLang} />
        
        <!-- Contenu principal -->
        <div id="content">
            <slot />
        </div>
        
        <!-- Pied de page -->
        <Footer currentLang={currentLang} />
    </div>
    
    <script is:inline>
      document.addEventListener('DOMContentLoaded', function() {
        document.body.addEventListener('click', function(e) {
          if (e.target instanceof HTMLElement && e.target.hasAttribute('data-calendly')) {
            if (typeof window['Calendly'] !== 'undefined') {
              window['Calendly'].initPopupWidget({url: 'https://calendly.com/decarbonaction/meeting'});
            }
          }
        });
      });
    </script>
</body>
</html>